/* -----------CSS RESET ---------------- */
/* html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
} */

/* HTML5 display-role reset for older browsers */
/* article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
} */

/* ---------Variables -------- */
header,
section,
nav {
    --white: #ffffff;
    --primary: #3c71d7;
    --line: #ebebeb;
    --main: black;
    --section-color: #effafa;
    --star: #ff7b54;
}

/* -----------Header ------------*/
#header {
    background-color: var(--white);
    display: block;
}

.container {
    /* padding-left: 50px;
    padding-right: 50px; */
    /* max-width: 1540px; */
}



.line {
    border-top: 1px solid var(--line);
    border-bottom: 1px solid var(--line);
}

.btn-primary {
    background-color: var(--primary);
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.woff') format('woff');

}

.icon-angle-down::before {
    content: "\e902";
}

[class*=" icon-"] {
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    margin-top: 5px;
}

.active {
    color: var(--primary) !important;
}

a {
    cursor: pointer;
    text-decoration: none;
    /* color: var(--main); */
}

.right {
    display: flex;
    align-items: center;
    gap: 18px;
}

.phone {
    font-size: 28px;
    line-height: 28px;
    font-weight: 700;
    color: var(--primary) !important;
}

.nav-link {
    font-weight: 600;
    font-size: 20px;
}

.images {
    width: 100%;
}

.text {
    top: 520px;
}

.row {

    padding: 20px 0;
}

/* ----Section 3---------- */
.font-size-season {
    font-size: 4rem !important;
    font-family: Libre Baskerville, serif;
}

.transition {
    transition: transform 0.3s ease-in-out;
    transform: scale(1);
}

.transition:hover {
    transform: scale(1.1);
}


/* ---Section 4 ------ */

.backround {

    background-color: var(--section-color);
}

.transition-img {
    transition: transform .4s;
}

.transition-img:hover {
    transform: scale(1.3);
    transform-origin: 50% 50%;

}

.column-size {
    grid-template-columns: 1fr 1fr !important;
}

.font-size-bestseller {
    font-size: 4rem !important;
    font-family: Libre Baskerville, serif;
    left: 30px;

}

.fw-600 {
    font-weight: 600 !important;
}

.left-size {
    left: 8% !important;
}

/* ----Section 4 ----- */
.navbar-collapse-custom {
    flex-grow: 0;
}

.height {
    height: 300px;
}

.font-size-popular {
    font-weight: 600;
    font-family: Libre Baskerville, serif;
    font-size: 3rem !important;
}

/* ----Section 5 ---------- */
.tab-pane {
    display: none !important;
}



.tab-pane.active {
    display: block !important;
}

/* --------Section 6 -------- */
.font-holloween {
    font-family: Libre Baskerville, serif;
    font-size: 3rem !important;
}

.bestseller {
    font-family: Libre Baskerville, serif;
    font-size: 3rem !important;
}

/* -----Section 8 ----- */
.reviews {
    font-family: Libre Baskerville, serif;
    font-size: 3rem !important;
}

.stars {
    color: var(--star);
    font-size: 3rem;

}

.image-first {
    height: 554px;
    width: 330px;

}

.text-span {
    color: var(--primary);
}

.width-size {
    width: 32%;
}


/* .wrapper-header {
    min-height: 78px !important;
}

.left {

    display: flex;
    align-items: center;

}

.categories {
    position: relative;
    background-color: #3c71d7;
    border-radius: 10px;
}

.categories-title {
    color: var(--white);

    min-width: 226px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    padding: 0 14px;
    -webkit-margin-end: 35px;
    margin-inline-end: 35px;
    background-color: var(--primary);
    color: var(--white);
    border-radius: 10px;
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    gap: 10px;

}


.gap-30 {
    gap: 30px;
}

.menu-item {
    padding: 28px 0;
}

.item-link {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 7px;
    transition: all .3s ease;
    position: relative;
}

.activeMenu {
    color: var(--primary);
}

li,
ul {
    list-style-type: none !important;
} */



.icon {
    /* font-size: 7px; */
}









.d-grid {
    display: grid !important;
    grid-template-columns: 1fr;
}

svg {
    vertical-align: middle;
}

.phone {}

.fw-5 {
    font-weight: 500 !important;
}


/* -----Section 1 ---- */
.rounded-40 {
    border-radius: 30px;
}

.left-8 {
    left: 8%;
}

.font-h6 {
    font-size: 80px;
    font-family: Libre Baskerville, serif;
    font-weight: 600;
}

.top-27 {
    top: 27%;
}

.fw-6 {
    font-weight: 600 !important;
}



/* ----------- section 2 ----- */